.container {
    display: flex;
    height: 180px;
}

.container2 {
    display: flex;
    height: 100px; 
}

.container3 {
    display: flex;
}

article {
    border: 5px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: center;
    
}

#Zelda {
    width: 80px;
    height: 100px;
}

#menu {
    width: 60px;
    color: blue;
}

#contenido {
    width: 400px;
}

#nintendo {
    width: 300px;
    height: 150px;
    
}

#ulima {
    padding-right: 100px;
}

#final {

    padding-left: 50px;
    
    padding-right: 50px;

}